.git
.github
.venv
.uv
__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.ruff_cache
.mypy_cache
test
devscripts
bundle
Changelog.md
THIRD_PARTY_LICENSES.txt
supportedsites.md
uv-x86_64-unknown-linux-gnu
Dockerfile
Aptfile
